<div class="menu">
    <a href="{{ path('index') }}">Menu</a> -
    <a href="{{ path('addingredientstopizza_index') }}">Add Ingredients to Pizza</a> -
    <a href="{{ path('pizza_index') }}">Pizzas</a> -
    <a href="{{ path('ingredient_index') }}">Ingredients</a>
</div>